.teacher-page-container {
    padding: 10px;
}

.teacher-page-main-container {
    display: flex;
}

.lesson-stream-view {
    border: 1px grey solid;
    border-radius: 15px;
    min-width: 75%;
    margin-right: 10px;
    height: 80vh;
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.lesson-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
}

.lesson-card {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #09ccff !important;
}

.lesson-card-content {
    display: flex;
    justify-content: space-between;
}

.start-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.start-lesson-button {
    background-color: #5533ff !important;
    color: white !important;
}

.instruction-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

/* Arrow */

.arrow {
    position: relative;
    margin: -7% auto;
    width: 100px;
    transform: rotate(-95deg);
    -webkit-transform: rotate(-95deg);
    -moz-transform: rotate(-95deg);
    -ms-transform: rotate(-95deg);
}

.arrow .curve {
    border: 15px solid #5533ff;
    border-color: transparent transparent transparent #5533ff;
    height: 360px;
    width: 1200px;
    border-radius: 230px 0 0 150px;
}

.arrow .point {
    position: absolute;
    left: 40px;
    top: 315px;
}

.arrow .point:before,
.arrow .point:after {
    border: 5px solid #5533ff;
    height: 35px;
    content: '';
    position: absolute;
}

.arrow .point:before {
    top: -16px;
    left: -9px;
    transform: rotate(-74deg);
    -webkit-transform: rotate(-74deg);
    -moz-transform: rotate(-74deg);
    -ms-transform: rotate(-74deg);
}

.arrow .point:after {
    top: -26px;
    left: 7px;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}
